asttokens==2.4.1
decorator==5.1.1
eradicate==2.3.0
executing==2.0.1
ipython==8.21.0
jedi==0.19.1
matplotlib-inline==0.1.6
mccabe==0.7.0
parso==0.8.3
pexpect==4.9.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.17.2
pylama==8.4.1
stack-data==0.6.3
traitlets==5.14.1
types-requests
types-requests==2.31.0.20240125
wcwidth==0.2.13
